









section ul.lista-receitas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 3vw 7vw;
    list-style: none;
}

section ul.lista-receitas li {
    text-align: center;
    flex: 1 1 200px;
    max-width: 250px;
}

section ul.lista-receitas img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

section ul.lista-receitas img:hover {
    transform: scale(1.05);
}

section ul.lista-receitas h2 {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;
    
    text-decoration: none;
}

section ul.lista-receitas a {
    text-decoration: none;
    color: inherit;
}