/* FORMATAÇÃO */
html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    /* Garante que o elemento se estenda por toda a altura da tela */
    box-sizing: border-box;
    /* Inclui padding e border na altura total */
}

/* HEADER */

header {
    background-color: #FFC573;
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header::before {
    background-color: #FECF8C;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* TOPO */

section.Principal {
    background-color: #FECF8C;
    width: 100%;
    min-height: 100vh;
    /* Para garantir que a seção tenha 100% da altura da viewpor */
    align-items: center;
    /* Apenas para centralizar o conteúdo (opcional) */
    color: black;
    text-align: center;
}