@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Labrada:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

main {
    text-align: center;
    align-items: center;
}
main.questionario p {
    font-size: 2rem;
    padding-bottom: 6vw;
    text-align: justify;
    padding-right: 8vw;
    padding-left: 8vw;
    
}
main.questionario h2 {
    font-size: 4rem;
    font-family: "Martian Mono", monospace !important;
    padding-top: 7vw;
    padding-bottom: 5vw;
    font-weight: bold;
}
section.questionarioPrincipal {
    padding-bottom: 10vw;
    padding-left: 7vw;
    padding-right: 7vw;
}
main.questionario button {
    background-color: #8cab55;
    padding: 3vw 12vw;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 3rem;
    font-family: "Martian Mono", monospace !important;
    
}


/* =========================================================== QUIZZZ PRINCIPAL ============================================================ */

main.quiz {
    background-color: #8cab55;
}
.quiz h1 {
    background-color: #FEE5C1;
}

footer.quiz {
    background-color: #FEE5C1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
